[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
"boto3" = "*"
wheel = "*"
pandas = "*"

[packages]
sklearn = "*"
scipy = "*"
